<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name of Song</th>
            <th>Singer</th>
            <th>Category</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="songObj : ${song}">
            <td th:text="${songObj.idSong}"></td>
            <td th:text="${songObj.nameSong}"></td>
            <td th:text="${songObj.singer}"></td>
            <td th:text="${songObj.category}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>