<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="~{layout :: css-layout}"></th:block>
</head>
<body>
<header th:replace="~{layout :: css-header}">
</header>

<nav th:replace="~{layout :: css-nav}">
</nav>

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">Furama Resort</span>
                        <span class="section-heading-lower">Service</span>
                    </h2>
                    <h4 class="container"><a class="nav-link text-primary" th:href="@{/services/create}">Create new service</a></h4>

                    <div class="container">
                        <table class="table table-view">
                            <caption class="text-black"><h4>List of Service</h4></caption>
                            <thead>
                            <tr class="table-active">
                                <th>#</th>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Area</th>
                                <th>Cost</th>
                                <th>MaxPeople</th>
                                <th>RentType</th>
                                <th>ServiceType</th>
                                <th>Standard</th>
                                <th>Other</th>
                                <th>Floors</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="table-warning" th:each="serviceObj, no :${services}">
                                <td th:text="${no.count}"></td>
                                <td th:text="${serviceObj.serviceId}"></td>
                                <td th:text="${serviceObj.serviceName}"></td>
                                <td th:text="${serviceObj.serviceArea}"></td>
                                <td th:text="${serviceObj.serviceCost}"></td>
                                <td th:text="${serviceObj.serviceMaxPeople}"></td>
                                <td th:text="${serviceObj.rentTypeId.rentTypeName}"></td>
                                <td th:text="${serviceObj.serviceTypeId.serviceTypeName}"></td>
                                <td th:text="${serviceObj.standardRoom}"></td>
                                <td th:text="${serviceObj.descriptionOther}"></td>
                                <td th:text="${serviceObj.numberOfFloors}"></td>

                                <!--                                <td>-->
                                <!--                                    <button>-->
                                <!--                                        <a th:href="@{/delete(id=${productObj.idProduct})}">Delete</a>-->
                                <!--                                    </button>-->
                                <!--                                </td>-->
                                <!--                                <td>-->
                                <!--                                    <button>-->
                                <!--                                        <a th:href="@{/edit(id=${productObj.idProduct})}">Edit</a>-->
                                <!--                                    </button>-->
                                <!--                                </td>-->
                            </tr>

                            </tbody>


                        </table>
                    </div>
                    <div>
                        <div>
                            <a th:if="${services.hasPrevious()}"
                               th:href="@{/list(page=${services.number - 1})}">
                                Previous
                            </a>
                            <span th:text="${services.number + 1}"></span>
                            /
                            <span th:text="${services.totalPages}"></span>
                            <a th:if="${services.hasNext()}"
                               th:href="@{/list(page=${services.number + 1})}">
                                Next
                            </a>
                        </div>
                    </div>
                    <p class="address mb-5">
                        <em>
                            <strong>103 – 105 Đường Võ Nguyên Giáp</strong>
                            <br />
                            Tp. Đà Nẵng, Việt Nam
                        </em>
                    </p>
                    <p class="mb-0">
                        <small><em>Call Anytime</em></small>
                        <br />
                        84-236-3847 333/888
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" th:src="@{/assets/img/service.jpg}" alt="..." />
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Strong Coffee, Strong Roots</span>
                            <span class="section-heading-lower">About Our Cafe</span>
                        </h2>
                        <p>Founded in 1987 by the Hernandez brothers, our establishment has been serving up rich coffee sourced from artisan farmers in various regions of South and Central America. We are dedicated to travelling the world, finding the best coffee, and bringing back to you here in our cafe.</p>
                        <p class="mb-0">
                            We guarantee that you will fall in
                            <em>lust</em>
                            with our decadent blends the moment you walk inside until you finish your last sip. Join us for your daily routine, an outing with friends, or simply just to enjoy some alone time.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<footer th:replace="~{layout :: css-footer}">
</footer>

<div th:replace="~{layout :: css-body}"></div>
</body>
</html>