<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{layout :: css-layout}">
    </th:block>

</head>
<body>
<header th:replace="~{layout :: css-header}">

</header>
<nav th:replace="~{layout :: css-nav}"></nav>

<section th:replace="~{layout :: css-section1}"></section>
<section th:replace="~{layout :: css-section2}"></section>



<footer th:replace="~{layout :: css-footer}"></footer>

<div th:replace="~{layout :: css-body}"></div>

</body>
</html>