<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="~{layout :: css-layout}"></th:block>
</head>
<body>
<header th:replace="~{layout :: css-header}">
</header>

<nav th:replace="~{layout :: css-nav}">
</nav>
<section class="page-section about-heading">
    <div class="container">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-10 col-lg-11 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4 container">
                            <span class="section-heading-upper">Furama Resort</span>
                            <span class="section-heading-lower">Nhân viên</span>
                        </h2>
                        <h4 class="container"><a class="nav-link text-primary" th:href="@{/employees}">Danh sách nhân viên</a></h4>

                        <div class="container">
                            <form th:action="@{/employees/create}" th:object="${employeeDto}" method="post">
                                <fieldset>
                                    <legend><h3>Thêm mới nhân viên</h3></legend>
                                    <table>

                                        <tr>
                                            <th class="list-unstyled-item list-hours-item d-flex">Tên nhân viênt</th>
                                            <td><input class="form-control" th:field="*{employeeName}">
                                                <p style="color: red" th:if="${#fields.hasErrors('employeeName')}"
                                                   th:errors="*{employeeName}"></p></td>
                                        </tr>
                                        <tr>
                                            <th class="list-unstyled-item list-hours-item d-flex">Năm sinh:</th>
                                            <td><input class="form-control" type="date" th:field="*{employeeBirthday}">
                                                <p style="color: red" th:if="${#fields.hasErrors('employeeBirthday')}"
                                                   th:errors="*{employeeBirthday}"></p></td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="list-unstyled-item list-hours-item d-flex">Số CMND:</th>
                                            <td><input class="form-control" th:field="*{employeeIdCard}">
                                                <p style="color: red" th:if="${#fields.hasErrors('employeeIdCard')}"
                                                   th:errors="*{employeeIdCard}"></p></td>
                                        </tr>
                                        <tr>
                                            <th class="list-unstyled-item list-hours-item d-flex">Lương:</th>
                                            <td><input class="form-control" th:field="*{employeeSalary}">
                                                <p style="color: red" th:if="${#fields.hasErrors('employeeSalary')}"
                                                   th:errors="*{employeeSalary}"></p></td>
                                        </tr>
                                        <tr>
                                            <th class="list-unstyled-item list-hours-item d-flex">Số điện thoại:</th>
                                            <td><input class="form-control" th:field="*{employeePhone}">
                                                <p style="color: red" th:if="${#fields.hasErrors('employeePhone')}"
                                                   th:errors="*{employeePhone}"></p></td>
                                        </tr>
                                        <tr>
                                            <th class="list-unstyled-item list-hours-item d-flex">Email:</th>
                                            <td><input class="form-control" th:field="*{employeeEmail}">
                                                <p style="color: red" th:if="${#fields.hasErrors('employeeEmail')}"
                                                   th:errors="*{employeeEmail}"></p></td>
                                        </tr>
                                        <tr>
                                            <th class="list-unstyled-item list-hours-item d-flex">Địa chỉ:</th>
                                            <td><input class="form-control" th:field="*{employeeAddress}">
                                                <p style="color: red" th:if="${#fields.hasErrors('employeeAddress')}"
                                                   th:errors="*{employeeAddress}"></p></td>
                                        </tr>
                                        <tr>
                                            <th class="list-unstyled-item list-hours-item d-flex">Vị trí:</th>
                                            <td>
                                                <select class="form-select" aria-label="Default select example"
                                                        th:field="*{positionId}">
                                                    <option th:each="typeObj :${positions}"
                                                            th:value="${typeObj.positionId}"
                                                            th:text="${typeObj.positionName}">
                                                    </option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="list-unstyled-item list-hours-item d-flex">Trình độ:</th>
                                            <td>
                                                <select class="form-select" aria-label="Default select example"
                                                        th:field="*{educationDegreeId}">
                                                    <option th:each="eduObj :${educationDegree}"
                                                            th:value="${eduObj.educationDegreeId}"
                                                            th:text="${eduObj.educationDegreeName}">
                                                    </option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="list-unstyled-item list-hours-item d-flex">Bộ phận:</th>
                                            <td>
                                                <select class="form-select" aria-label="Default select example"
                                                        th:field="*{divisionId}">
                                                    <option th:each="divisionObj :${divisions}"
                                                            th:value="${divisionObj.divisionId}"
                                                            th:text="${divisionObj.divisionName}">
                                                    </option>
                                                </select>
                                            </td>
                                        </tr>


                                    </table>
                                    <div>
                                        <input class="btn btn-success" type="submit" value="Thêm">
                                    </div>
                                </fieldset>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<footer th:replace="~{layout :: css-footer}">
</footer>

<div th:replace="~{layout :: css-body}"></div>
</body>
</html>